@keyframes buttonPress {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.75);
  }
}
@keyframes growth {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes growth-icon {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}
@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
html {
  scroll-behavior: smooth;
}

#root {
  margin: 0 auto;
  text-align: center;
  font-family: "Fira Code", monospace;
}

body {
  margin: 0;
  background-color: black;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
}
header .fa-bars {
  color: #f2f2f2;
  text-shadow: 0 0 5px rgba(57, 255, 20, 0.7), 0 0 10px rgba(57, 255, 20, 0.7), 0 0 20px rgba(57, 255, 20, 0.7), 0 0 40px rgba(57, 255, 20, 0.7), 0 0 80px rgba(57, 255, 20, 0.7);
  font-size: 40px;
  position: relative;
  top: 30px;
  right: 80px;
}
header .fa-bars:hover {
  cursor: pointer;
}
header .language__button {
  font-family: "Fira Code", monospace;
  color: #f2f2f2;
  background-color: #0a0a0a;
  box-shadow: 0 0 5px rgba(57, 255, 20, 0.7), 0 0 10px rgba(57, 255, 20, 0.7), 0 0 15px rgba(57, 255, 20, 0.7), 0 0 20px rgba(57, 255, 20, 0.7);
  padding: 5px 20px 5px 20px;
  border: 3px solid #39ff14;
  border-radius: 25px;
  transition: background-color 0.3s ease;
  position: absolute;
  right: 10%;
  top: 34px;
}
header .language__button:hover {
  cursor: pointer;
  background-color: #1e1e1e;
}
header .language__button:active {
  animation: buttonPress 0.5s ease;
}
@media (max-width: 1024px) {
  header .language__button {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  header .language__button {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  header .language__button {
    font-size: 8px;
  }
}
@media (max-width: 376px) {
  header .language__button {
    font-size: 6px;
  }
}

.presentation {
  position: absolute;
  top: 70px;
  left: 15%;
  z-index: 2;
}
.presentation h1 {
  color: #f2f2f2;
  font-weight: 200;
  font-size: 30px;
  margin: 0 0 25px 0;
}
.presentation button {
  font-family: "Fira Code", monospace;
  color: #f2f2f2;
  background-color: #0a0a0a;
  box-shadow: 0 0 5px rgba(57, 255, 20, 0.7), 0 0 10px rgba(57, 255, 20, 0.7), 0 0 15px rgba(57, 255, 20, 0.7), 0 0 20px rgba(57, 255, 20, 0.7);
  padding: 5px 20px 5px 20px;
  border: 3px solid #39ff14;
  border-radius: 25px;
  transition: background-color 0.3s ease;
}
.presentation button:hover {
  cursor: pointer;
  background-color: #1e1e1e;
}
.presentation button:active {
  animation: buttonPress 0.5s ease;
}
@media (max-width: 1024px) {
  .presentation button {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .presentation button {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .presentation button {
    font-size: 8px;
  }
}
@media (max-width: 376px) {
  .presentation button {
    font-size: 6px;
  }
}

.Logo {
  color: #39ff14;
  font-size: 60px;
  font-weight: 500;
  margin: 0 0 20px 0;
}
.Logo:hover {
  cursor: default;
}

.background {
  position: relative;
  margin-top: 100px;
}
.background img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.background::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.9));
  pointer-events: none;
}

.about {
  margin: 70px 80px 100px 80px;
  padding: 10px 20px 10px 20px;
  width: 85%;
  border: 8px solid #f2f2f2;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(57, 255, 20, 0.7), 0 0 10px rgba(57, 255, 20, 0.7), 0 0 15px rgba(57, 255, 20, 0.7), 0 0 20px rgba(57, 255, 20, 0.7), inset 0 0 5px rgba(57, 255, 20, 0.7), inset 0 0 10px rgba(57, 255, 20, 0.7), inset 0 0 15px rgba(57, 255, 20, 0.7), inset 0 0 20px rgba(57, 255, 20, 0.7);
  overflow: hidden;
  word-wrap: break-word;
}
.about p, .about h2 {
  color: #39ff14;
  font-size: 25px;
}

.formations__h1 {
  color: #f2f2f2;
  color: #f2f2f2;
  text-shadow: 0 0 5px rgba(57, 255, 20, 0.7), 0 0 10px rgba(57, 255, 20, 0.7), 0 0 20px rgba(57, 255, 20, 0.7), 0 0 40px rgba(57, 255, 20, 0.7), 0 0 80px rgba(57, 255, 20, 0.7);
}

.formations {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-bottom: 150px;
}
.formations h2 {
  color: #f2f2f2;
  font-weight: 700;
}
.formations p, .formations time {
  color: #aaaaaa;
}

.formation {
  margin: 0 auto;
  padding: 0 10px 20px 30px;
  width: 25%;
  border: 2px solid rgba(57, 255, 20, 0.5019607843);
  border-radius: 35px;
  text-align: left;
  box-shadow: 4px 4px 6px 2px #39ff14;
}
.formation:hover {
  animation: growth 0.8s forwards;
}

.contact {
  position: relative;
}
.contact .contact__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  position: absolute;
  bottom: 25%;
  z-index: 2;
  width: 100%;
}
.contact .contact__info h2 {
  font-size: 22px;
  color: #f2f2f2;
  color: #f2f2f2;
  text-shadow: 0 0 5px rgba(57, 255, 20, 0.7), 0 0 10px rgba(57, 255, 20, 0.7), 0 0 20px rgba(57, 255, 20, 0.7), 0 0 40px rgba(57, 255, 20, 0.7), 0 0 80px rgba(57, 255, 20, 0.7);
  margin-bottom: 0;
}
.contact .contact__info button {
  font-family: "Fira Code", monospace;
  color: #f2f2f2;
  background-color: #0a0a0a;
  box-shadow: 0 0 5px rgba(57, 255, 20, 0.7), 0 0 10px rgba(57, 255, 20, 0.7), 0 0 15px rgba(57, 255, 20, 0.7), 0 0 20px rgba(57, 255, 20, 0.7);
  padding: 5px 20px 5px 20px;
  border: 3px solid #39ff14;
  border-radius: 25px;
  transition: background-color 0.3s ease;
  width: 20%;
  padding: 15px 10px 15px 10px;
  border-radius: 15px;
}
.contact .contact__info button:hover {
  cursor: pointer;
  background-color: #1e1e1e;
}
.contact .contact__info button:active {
  animation: buttonPress 0.5s ease;
}
@media (max-width: 1024px) {
  .contact .contact__info button {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .contact .contact__info button {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .contact .contact__info button {
    font-size: 8px;
  }
}
@media (max-width: 376px) {
  .contact .contact__info button {
    font-size: 6px;
  }
}
.contact::after {
  content: "";
  position: absolute;
  top: -90px;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, transparent, rgba(9, 9, 9, 0.948));
  pointer-events: none;
}

.net__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 2;
  margin-bottom: 30px;
  gap: 40px;
}
.net__links a {
  text-decoration: none;
  color: #f47fff;
  font-size: 50px;
}
.net__links a:hover {
  animation: growth 0.5s forwards;
}

.my-mail {
  color: #aaaaaa;
  background-color: #1e1e1e;
  font-size: 23px;
  width: 40%;
  border-radius: 7px;
  margin-bottom: 30px;
}

.background2 {
  position: relative;
  top: 5px;
}
.background2 img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.devicons {
  display: flex;
  justify-content: space-between;
  padding: 0 10px 30px 10px;
}
.devicons .devicon {
  color: #39ff14;
  font-size: 30px;
}
.devicons .devicon:hover {
  animation: growth-icon 0.4s forwards;
}

.stack {
  border: 2px solid #39ff14;
  width: 180px;
  height: 80px;
  margin: 0;
  position: absolute;
  top: 130px;
  right: 50px;
  z-index: 2;
}
.stack h2 {
  position: relative;
  margin: 0 auto;
  bottom: 20px;
  color: #39ff14;
  max-width: 80px;
  background-color: black;
}

.projects {
  margin-bottom: 100px;
}

.project__pres {
  margin-bottom: 50px;
}
.project__pres h1 {
  color: #0a0a0a;
  color: #f2f2f2;
  text-shadow: 0 0 5px rgba(57, 255, 20, 0.7), 0 0 10px rgba(57, 255, 20, 0.7), 0 0 20px rgba(57, 255, 20, 0.7), 0 0 40px rgba(57, 255, 20, 0.7), 0 0 80px rgba(57, 255, 20, 0.7);
}
.project__pres p {
  color: #f2f2f2;
}

.slider {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
}

.slider__image {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  transition: transform 1s ease;
}
.slider__image img {
  -o-object-fit: contain;
     object-fit: contain;
}

.slider__dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}

.slider__dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #d3d3d3;
  transition: background-color 0.3s;
}

.slider__dot.active {
  background-color: #39ff14;
}

.project__blocs {
  position: relative;
  right: 20px;
  display: grid;
  grid-template-columns: repeat(2, 600px);
  justify-content: center;
  margin-top: 110px;
  gap: 130px;
}

.project {
  padding: 0 10px 20px 30px;
  width: 100%;
  background-color: black;
  border: 2px solid rgba(57, 255, 20, 0.5019607843);
  border-radius: 35px;
  text-align: left;
  z-index: 2;
  box-shadow: 4px 4px 6px 2px #39ff14;
}
.project:hover {
  animation: growth 0.8s forwards;
}
.project h2 {
  color: #f2f2f2;
  font-weight: 700;
}
.project p {
  color: #aaaaaa;
}
.project a {
  color: #f47fff;
  text-decoration: none;
}

.navbar {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  transition: right 0.3s ease;
}
.navbar ul {
  list-style-type: none;
  padding: 0;
}
.navbar li {
  margin: 100px 0;
}
.navbar a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 25px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 3;
}

.fa-xmark {
  position: absolute;
  top: 30px;
  left: 10%;
  font-size: 40px;
  color: #f2f2f2;
  cursor: pointer;
}

footer {
  background-color: #0a0a0a;
  padding: 16px 0 16px 0;
}
footer p {
  color: #39ff14;
  margin: 0;
}

@media screen and (max-width: 1440px) {
  .project__blocs {
    grid-template-columns: repeat(2, 550px);
  }
}
@media screen and (max-width: 1024px) {
  .presentation {
    left: 10%;
  }
  .presentation h1 {
    font-size: 20px;
    margin: 0 0 25px 0;
  }
  .Logo {
    font-size: 50px;
    margin: 0 0 20px 0;
  }
  header {
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    top: 0;
    left: 0;
  }
  header .fa-bars {
    font-size: 30px;
    position: relative;
    top: 30px;
    right: 40px;
    z-index: 4;
  }
  header .language__button {
    position: absolute;
    right: 10%;
    top: 30px;
  }
  .stack {
    width: 160px;
    height: 60px;
    top: 120px;
  }
  .stack h2 {
    font-size: 20px;
    bottom: 15px;
    max-width: 65px;
  }
  .devicons {
    position: relative;
    bottom: 5px;
  }
  .devicons .devicon {
    font-size: 25px;
  }
  .about {
    margin: 70px 60px 100px 60px;
    width: 83%;
  }
  .about p, .about h2 {
    font-size: 18px;
  }
  .formations h2, .formations p, .formations time {
    font-size: 15px;
  }
  .formation {
    padding: 10px 10px 20px 20px;
  }
  .project {
    width: 100%;
  }
  .project h2 {
    font-size: 20px;
  }
  .project p, .project a {
    font-size: 13px;
  }
  .project__blocs {
    grid-template-columns: repeat(2, 380px);
    gap: 130px;
  }
  .navbar li {
    margin: 80px 0;
  }
  .navbar a {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  header .language__button {
    right: 12%;
    top: 30px;
  }
  .presentation {
    left: 10%;
  }
  .presentation h1 {
    font-size: 15px;
    margin: 0 0 25px 0;
  }
  .Logo {
    font-size: 30px;
    margin: 0 0 20px 0;
  }
  .stack {
    width: 140px;
    height: 40px;
    top: 100px;
  }
  .stack h2 {
    font-size: 17px;
    bottom: 13px;
    max-width: 55px;
  }
  .devicons {
    position: relative;
    bottom: 10px;
  }
  .devicons .devicon {
    font-size: 20px;
  }
  .about {
    margin: 70px 50px 100px 50px;
    width: 80%;
  }
  .about p, .about h2 {
    font-size: 15px;
  }
  .formations {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 100px;
  }
  .formations h2, .formations p, .formations time {
    font-size: 13px;
  }
  .formation {
    width: 70%;
    padding: 10px 10px 20px 20px;
  }
  .project__blocs {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 160px;
    gap: 50px;
    align-items: center;
  }
  .project {
    width: 75%;
    position: relative;
    left: 20px;
  }
  .project h2 {
    font-size: 15px;
  }
  .project p, .project a {
    font-size: 10px;
  }
  .project__pres p {
    width: 70%;
    margin: 0 auto;
  }
  .contact .contact__info {
    bottom: 0;
    top: 25%;
  }
  .contact .contact__info h2 {
    font-size: 16px;
  }
  .net__links a {
    font-size: 40px;
  }
  .my-mail {
    font-size: 16px;
  }
  .navbar li {
    margin: 90px 0;
  }
  .navbar a {
    font-size: 17px;
  }
  .fa-xmark {
    font-size: 30px;
  }
  footer p {
    font-size: 13px;
  }
}
@media screen and (max-width: 576px) {
  header .fa-bars {
    font-size: 25px;
  }
  header .language__button {
    right: 15%;
  }
  .presentation {
    top: 50px;
  }
  .presentation h1 {
    font-size: 13px;
  }
  .Logo {
    font-size: 25px;
  }
  .stack {
    width: 120px;
    height: 40px;
    top: 93px;
  }
  .stack h2 {
    font-size: 15px;
    bottom: 12px;
    max-width: 53px;
  }
  .devicons {
    bottom: 7px;
  }
  .devicons .devicon {
    font-size: 17px;
  }
  .about {
    margin: 70px 40px 100px 40px;
    width: 78%;
  }
  .about p, .about h2 {
    font-size: 13px;
  }
  .formations__h1 {
    font-size: 25px;
  }
  .project__pres h1 {
    font-size: 25px;
  }
  .project__pres p {
    width: 80%;
    font-size: 13px;
  }
  .project {
    width: 65%;
    padding: 0 10px 10px 20px;
  }
  .project h2 {
    font-size: 13px;
  }
  .project p, .project a {
    font-size: 10px;
  }
  .slider__image {
    border-radius: 0;
  }
  .navbar {
    width: 200px;
  }
  footer p {
    font-size: 10px;
  }
}
@media screen and (max-width: 428px) {
  header .fa-bars {
    font-size: 25px;
    right: 30px;
  }
  .presentation {
    top: 40px;
  }
  .stack {
    top: 85px;
  }
  .about {
    margin: 70px 35px 100px 35px;
    width: 72%;
  }
  .about p, .about h2 {
    font-size: 11.5px;
  }
  .slider__image {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .slider__dots {
    bottom: 60px;
  }
  .my-mail {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .contact .contact__info {
    margin-bottom: 70px;
  }
  .contact .net__links {
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 376px) {
  header .fa-bars {
    font-size: 20px;
    right: 20px;
    top: 20px;
  }
  header .language__button {
    top: 19px;
    right: 15%;
  }
  .presentation {
    top: 40px;
  }
  .presentation h1 {
    font-size: 10px;
    margin-bottom: 10px;
  }
  .Logo {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .about {
    margin: 50px 30px 70px 30px;
    width: 70%;
  }
  .about p, .about h2 {
    font-size: 10px;
  }
  .stack {
    width: 90px;
    height: 30px;
    top: 80px;
  }
  .stack h2 {
    font-size: 12px;
    bottom: 10px;
    max-width: 40px;
  }
  .devicons {
    bottom: 7px;
  }
  .devicons .devicon {
    font-size: 13px;
  }
  .formations__h1 {
    font-size: 20px;
  }
  .formations {
    gap: 50px;
    margin-bottom: 100px;
  }
  .formations h2, .formations p, .formations time {
    font-size: 10px;
  }
  .formation {
    width: 65%;
    padding: 10px 10px 10px 20px;
    border-radius: 20px;
  }
  .project__pres {
    margin-bottom: 0;
  }
  .project__pres h1 {
    font-size: 20px;
  }
  .project__pres p {
    font-size: 10px;
  }
  .slider__image {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .slider__dots {
    bottom: 75px;
  }
  .project__blocs {
    margin-top: 0;
    margin-bottom: 100px;
  }
  .project {
    border-radius: 20px;
    width: 60%;
    padding: 0 10px 10px 20px;
  }
  .project h2 {
    font-size: 11px;
  }
  .project p, .project a {
    font-size: 8px;
  }
  .contact .contact__info {
    bottom: 0;
    top: 30%;
  }
  .contact .contact__info h2 {
    font-size: 12px;
  }
  .contact .contact__info button {
    width: 30%;
    padding: 10px 20px 10px 20px;
  }
  .net__links {
    margin-bottom: 10px;
  }
  .net__links a {
    font-size: 25px;
  }
  .my-mail {
    margin-bottom: 10px;
    font-size: 9px;
  }
  .navbar {
    width: 150px;
  }
  .navbar li {
    margin: 105px 0;
  }
  .navbar a {
    font-size: 13px;
  }
  .fa-xmark {
    font-size: 20px;
  }
  footer p {
    font-size: 7px;
  }
}
@media screen and (max-width: 320px) {
  header .fa-bars {
    right: 25px;
  }
  header .language__button {
    right: 17%;
  }
  .presentation {
    top: 30px;
  }
  .stack {
    top: 73px;
    right: 30px;
  }
  .about {
    margin: 50px 20px 70px 20px;
    width: 70%;
  }
  .about p, .about h2 {
    font-size: 8px;
  }
  .project__pres p {
    width: 85%;
  }
  .slider {
    margin-top: -20px;
    margin-bottom: -20px;
  }
  .slider__dots {
    bottom: 85px;
  }
  .contact .contact__info {
    top: 40%;
  }
  .contact .contact__info button {
    width: 40%;
  }
  footer p {
    font-size: 5px;
  }
}/*# sourceMappingURL=style.css.map */