@import 'variables.scss';
@import 'mixins.scss';

@keyframes buttonPress {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.75);
    }
}

@keyframes growth {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

@keyframes growth-icon {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.3);
    }
}

@keyframes rotate360 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

html {
    scroll-behavior: smooth;
}

#root {
    margin: 0 auto;
    text-align: center;
    font-family: $main-font;
}

body {
    margin: 0;
    background-color: $main-color;
}

header {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 100px;

    .fa-bars {
        @include neon($contour-shawdow);
        font-size: 40px;
        position: relative;
        top: 30px;
        right: 80px;

        &:hover {
            cursor: pointer;
        }
    }
}

.presentation {
    position: absolute;
    top: 70px;
    left: 15%;
    z-index: 2;

    h1 {
        color: $secondary-text;
        font-weight: 200;
        font-size: 30px;
        margin: 0 0 25px 0;
    }

    button {
        @include button-style();
    }
}

.Logo {
    color: $main-text;
    font-size: 60px;
    font-weight: 500;
    margin: 0 0 20px 0;

    &:hover {
        cursor: default;
    }
}

.background {
    position: relative;

    img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.9));
        pointer-events: none;
    }
}

.about {
    margin: 70px 80px 100px 80px;
    padding: 10px 20px 10px 20px;
    width: 85%;
    border: 8px solid $secondary-text;
    border-radius: 15px;
    @include neon-border-full($contour-shawdow);
    overflow: hidden;
    word-wrap: break-word;

    p, h2 {
        color: $main-text;
        font-size: 25px;
    }
}

.formations__h1 {
    color: $secondary-text;
    @include neon($contour-shawdow);
}

.formations {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 150px;

    h2 {
        color: $secondary-text;
        font-weight: 700;
    }

    p, time {
        color: $main-grey;
    }
}

.formation {
    margin: 0 auto;
    padding: 0 10px 20px 30px;
    width: 25%;
    border: 2px solid $contour-shawdow;
    border-radius: 35px;
    text-align: left;
    @include normal-shadow;

    &:hover {
        animation: growth 0.8s forwards;
    }
}

.contact {
    position: relative;

    .contact__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
        position: absolute;
        bottom: 25%;
        z-index: 2;
        width: 100%;
    
        h2 {
            font-size: 22px;
            color: $secondary-text;
            @include neon($main-text);
            margin-bottom: 0
        }
    
        button {
            @include button-style;
            width: 20%;
            padding: 15px 10px 15px 10px;
            border-radius: 15px;
        }
    }

    &::after {
        content: "";
        position: absolute;
        top: -90px;
        left: 0;
        width: 100%;
        height: 100px;
        background: linear-gradient(to bottom, transparent, rgba(9, 9, 9, 0.948));
        pointer-events: none;
    }
}

.my-mail {
    color: $main-grey;
    background-color: $card-back;
    font-size: 23px;
    width: 40%;
    border-radius: 7px;
    margin-bottom: 30px;
}

.background2 {
    position: relative;
    top: 5px;

    img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
}

.devicons {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 30px 10px;

    .devicon {
        color: $main-text;
        font-size: 30px;

        &:hover {
            animation: growth-icon 0.4s forwards;
        }
    }
}

.stack {
    border: 2px solid $main-text;
    width: 180px;
    height: 80px;
    margin: 0;
    position: absolute;
    top: 130px;
    right: 50px;
    z-index: 2;

    h2 {
        position: relative;
        margin: 0 auto;
        bottom: 20px;
        color: $main-text;
        max-width: 80px;
        background-color: $main-color;
    }
}

.projects {
    margin-bottom: 100px;
}

.project__pres {
    margin-bottom: 50px;

    h1 {
        color: $second-color;
        @include neon($contour-shawdow);
    }

    p {
        color: $secondary-text;
    }
}

.slider {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}
  
.slider__image {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    transition: transform 1s ease;

    img {
        object-fit: contain;
    }
}
  
.slider__dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
}
  
.slider__dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $dot-color;
    transition: background-color 0.3s;
}
  
.slider__dot.active {
    background-color: $main-text;
}

.project__blocs {
    position: relative;
    right: 20px;
    display: grid;
    grid-template-columns: repeat(2, 600px);
    justify-content: center;
    margin-top: 110px;
    gap: 130px;
}

.project {
    padding: 0 10px 20px 30px;
    width: 100%;
    background-color: $main-color;
    border: 2px solid $contour-shawdow;
    border-radius: 35px;
    text-align: left;
    z-index: 2;
    @include normal-shadow;

    &:hover {
        animation: rotate360 2s forwards;
    }

    h2 {
        color: $secondary-text;
        font-weight: 700;
    }

    p {
        color: $main-grey;
    }

    a {
        color: $link-color;
        text-decoration: none;
    }
}

footer {
    background-color: $second-color;
    padding: 16px 0 16px 0;

    p {
        color: $main-text;
        margin: 0;
    }
}